
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	background-color: #efefef;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	margin:0;
}


header{
    box-sizing: border-box;
	text-align: center;
    width: 100%;
    padding: 20px 80px;
    background-color: #3e65b5;
    overflow: hidden;
}


header h1{
    float: left;
	font: normal 24px/1.5 'Open Sans', sans-serif;
	color: #fff;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#3e65b5;

}
.menu-bar{
     list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: left;
    margin-bottom: 35px;

}

.margin-bar{
     list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 15px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 35px;

}
ul {
  list-style-type: none;
  padding: 15px;
  margin: 0;
}

li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block
}

li a:hover:not(.header) {
  background-color: #eee;
}

/*ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 15px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 35px;
}*/

    .menu-bar a{
        text-decoration: none;
        color: #FFF;
        background-color: #BCB8C2;
        padding: 10px 16px;
        border-radius: 2px;
        opacity: 0.8;
        font-size: 16px;
        margin: 4px;
        line-height: 1;
        outline: none;

        transition: 0.2s ease;
    }

    .menu-bar li a.active{
        background-color: #3e65b5;
        pointer-events: none;
    }

    .menu-bar li a:hover {
        opacity: 1;
    }


    .menu-bar li{
        display: inline-block;
    }


@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

.main-content{
    margin-bottom: 75px;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
	text-decoration: none;
	color: #fff !important;
	font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
	color: #3e65b5;
}