<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facebook Stories</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="login.css">
</head>
	<header>
		<h1>Facebook Stories</h1>
    </header>
    <div class="menu-bar">
    </div>
    <div class="main-content">
        <form class="form-login" ng-submit="submitButton()">
            <div class="form-log-in-with-email">
                <div class="form-white-background">
                    <div class="form-title-row">
                        <img src="continue-with-facebook.png">
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Username</span>
                            <input type="email" name="email" ng-model="username">
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Password</span>
                            <input type="password" name="password" ng-model="password">
                        </label>
                    </div>
                    <div class="form-row">
                        <button type="submit">Log in</button>
                    </div>
                </div>
           </div>
        </form>
    </div>
</body>
</html>
